<div class="container">
    <div class="row">
        <div class="col-md-12" *ngIf="showMainForm">
            <h3 class="text-white" id="tableLabel">Iniciar Partida</h3>
            <h4 class="text-white">Se requiere un nombre antes de iniciar la partida porfavor proceda a agregarlo</h4>
            <div *ngIf="showForm">
                <div class="row">
                    <div class="col-md-6">
                        <label class="text-white" for="">Nombre del juagdor</label>
                        <input type="text" class="form-control" [(ngModel)]="user.username"><br>
                    </div>
                    <div class="col-md-6">
                        <label class="text-white" for="">monto Inicial</label>
                        <input type="number" class="form-control" [(ngModel)]="user.total_money"><br>
                    </div>
                    <button class="btn btn-primary mb-2" (click)="saveUser()">Guradar</button>
                    <button class="btn btn-danger mb-2" (click)="showForm = false">Cancelar</button>
                </div>
            </div>

            <button *ngIf="!showForm" class="btn btn-success mb-2" (click)="showForm = true">Agregar Nombre.</button>
        </div>
        <div [@listAnimation]="items.length"
           (@listAnimation.start)="logAnimation($event)"
           (@listAnimation.done)="logAnimation($event)"
         >
        <div class="col-md-12 text-white pt-5" *ngIf="showBoard">
            <div class="contenedor">
                <img src="https://led4art.eu/pic/696888.jpg" width="100%" height="100%" />
                <div class="texto-encima text-white">{{user.username}}</div>

                <div class="centrado2 row" *ngIf="starGame">
                    <div class="col-md-2" *ngFor="let item of items">
                        <div class="card" style="width: 5rem;">
                            <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                        </div>
                    </div>
                </div>

                <div class="centrado row" *ngIf="starGame">
                    <div class="col-md-2" *ngFor="let item of items">
                        <div class="card" style="width: 5rem;">
                            <img class="card-img-top" src="{{item.image}}" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div id="c" class="row" *ngIf="starGame">
                    <div class="col-md-2">
                        <button class="btn btn-primary" (click)="dealOption()">Deal</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" (click)="hitOption()">HIT</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary">STAND</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary">DOUBLE</button>
                    </div>
                </div>
                <div id="h" class="row">
                    <div class="col-md-6">
                        <button class="btn btn-warning" (click)="initGame()" *ngIf="hiddenStart"> Comenzar</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-warning">Revolver cartas</button>
                        <br />
                        <br />
                        <input type="number" class="form-control" value="{{user.total_money}}" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>